@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    text-align: center;
}
body {
    padding: 1%;
    text-align: justify;
    line-height: 24px;
    font-family: 'Ubuntu', sans-serif;
}

/* Navigation bar formatting */
nav {
    width: 100%;
    margin: 1% auto;
    overflow: hidden;
}
nav ul {
    list-style: none;
    overflow: hidden;
}
nav li a {
    background: #36C;
    border-right: 1px solid black;
    color: #FAFAFA;
    display: block;
    float: left;
    font-size: 130%;
    padding: 1%;
    text-align: center;
    text-decoration: none;
    width: 25%;
    transition: background 0.5s ease;
}
nav li a:hover, nav li.active a {
    background: #69F;
}
nav li:last-child a {
    border: none;
}

/* Body sections formatting */
section {
    float: left;
    width: 100%;
    padding: 1%;
    margin: 1% 0;
}
footer {
    float: left;
    width: 100%;
    padding: 1%;
    margin: 1% 0;
}

@media only screen and (max-width: 640px) {
    nav {
        margin: 2% auto;
    }
    nav li a {
        width: 50%;
        font-size: 90%;
    }
    nav li:nth-child(even) a {
        border-right: none;
    }
    nav li:nth-child(1) a, nav li:nth-child(2) a {
        border-bottom: 1px solid black;
    }
    p {
        font-size: 85%;
    }
}