@charset "utf-8";
/* CSS Document */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    text-align: center;
}
body {
    padding: 1%;
    text-align: justify;
    line-height: 24px;
}

nav {
    width: 100%;
    margin: 1% auto;
    overflow: hidden;
}
nav ul {
    list-style: none;
    overflow: hidden;
}
nav li a {
    background: #36C;
    border-right: 1px solid black;
    color: #FAFAFA;
    display: block;
    float: left;
    font-size: 130%;
    padding: 1%;
    text-align: center;
    text-decoration: none;
    width: 25%;
    transition: background 0.5s ease;
}
nav li a:hover, nav li.active a {
    background: #69F;
}
nav li:last-child a {
    border: none;
}